# ---------- Android / Kotlin / Gradle ----------
*.iml
**/.gradle/
**/.kotlin/
**/build/
**/local.properties
**/.idea/
**/captures/
**/.externalNativeBuild/
**/.cxx/
*.apk
*.aab
*.keystore

# Ficheiros de sistema
.DS_Store
Thumbs.db

# ---------- Web ----------
node_modules/
.env
.env.local
dist/
.next/
.nuxt/
.vercel/

# ---------- IDEs / editores ----------
*.swp
.vscode/
